/* 
    Document   : style
    Created on : 12 Jun, 2012, 10:31:47 AM
    Author     : webonise
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.content{
	height: 790px;
	width: 1580px;
	border-width: 5px;
	
	border : 1px solid #D4D4D4;
	position: relative;
	
	
}
.header{
	height: 50px;
	width: 1010px;
	position: absolute;
	top: 5%;
	left: 18%;
	border-width: 5px;
   
	border : 2px solid #D4D4D4;
	
}

.left{
	height: 730px;
	width: 250px;
	border: 2px solid #D4D4D4;
	position: absolute;
	top: 4%;
	left: 2%;
	
}

.right{
	height: 730px;
	width: 250px;
	border: 2px solid #D4D4D4;
	position: absolute;
	top: 4%;
	right: 2%;
}

.center{
	height: 597px;
	width: 1002px;
	border: 2px solid #D4D4D4;
	position: absolute;
	top: 12%;
	left: 18.2%;
	}

.footer{
	height: 50px;
	width: 1010px;
	position: absolute;
	bottom: 5%;
	left: 18%;
	border-width: 5px;

	border : 2px solid #D4D4D4;

	}
	
.form{
   min-height: 565px;
	min-width: 500px;
	position: absolute;
	top:1%;
	left: 10%;
	border-width: 5px;
   border-radius: 15px;
   
	border : 2px solid #D4D4D4;
	padding: 10px;

	 clear: both;

	}
	
.form input{
 	padding: 9px  0px 8px 6px;
 	background-color: #1569C7;
	color: white;
 	border-radius:15px;
}	
.form textarea{
	width: 220px;
	height: 80px;
   border-radius:15px;
   background-color: #1569C7;
	color: white;
}
#submit{
	background-image: url('../images/submit.jpg');
	width: 80px;
	height: 30px;
	position: absolute;
   bottom: 10%;
   left: 50%
	}
	
	
	
div.row {
  clear: both;
  padding-top: 10px;
  }

div.row span.label {
  float: left;
  width: 100px;
  text-align: right;
  }

div.row span.formw {
  color: white;
 	border-radius:15px;
  float: right;
  width: 335px;
  text-align: left;
  } 
  
.list{
	color: blue;
}


root { 
    display: block;
}

#indicate{
	position: absolute;
	float: right;
	top: 25%;
	right: 10%;
	}
	
.dataurl{
	position: absolute;	
	font-size:20px; 
	float:right	; 
	padding-left:20px;
	top: 15%;
	right: 10%;
}